@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  border: 1px solid orangered;
  width: 700px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 15px;
  height: 160px;
}

.container {
  margin: 0 auto;
  margin-top: 15px;
  max-width: 600px;
}

.first-container {
  padding: 5px;
}

.first-container label:hover {
  color: orangered;
}

input[name="name"] {
  accent-color: orangered;
}

.sub-container {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  padding: 30px;
  height: 81px;
  width: 628px;
  align-items: center;
}

label {
  font-weight: bolder;
}

.text {
  color: rgb(187, 178, 178);
  display: block;
  padding-bottom: 6px;
}

#cities {
  width: 90px;
  border: none;
  background: none;
  -webkit-appearance: none;
  margin-right: 5px;
}

.city-opt {
  position: relative;
  font-size: larger;
  font-weight: 100;
}

.city-opt::after {
  content: "";
  position: absolute;
  height: 40px;
  top: -4px;
  right: 0;
}

#date {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  margin-right: 6px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  height: 0;
  background: transparent;
  padding: 10px;
}

input[type="date"] {
  width: 119px;
}

.prices {
  display: flex;
  align-items: flex-end;
}

.prices p {
  margin-right: 10px;
  font-weight: bolder;
  font-size: larger;
}

.green{
  text-align: center;
  color: green;
  font-size: small;
  font-weight: 600;
}

.date-selector::after {
  content: "";
  position: absolute;
  border: 1px solid #ccc;
  height: 40px;
  top: 84px;
}

.city-selector {
  padding-right: 7px;
}

.city-selector::after {
  content: "";
  position: absolute;
  border: 1px solid #ccc;
  height: 40px;
  top: 84px;
}

.city-opt:focus {
  /* border: none; */
  outline: none;
}
