* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 600px;
}

.first-container {
  padding: 5px;
}

.sub-container {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 81px;
  width: 628px;
}

label {
  font-weight: bolder;
}

.text {
  color: rgb(187, 178, 178);
}

#cities {
  border: none;
  background: none;
  -webkit-appearance: none;
}

.city-opt {
  font-size: larger;
  font-weight: 100;
}

.city-selector::after {
  content: "";
  border: 1px solid #ccc;
  position: absolute;
  height: 40px;
  top: 66px;
}
